@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
  --primary-color: #cd291e;
  --secondary-color: #fdb912;
  --light-color: #fff9ee;
  --dark-color: #231f20;
  --accent-color: #316131;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-light-white text-custom-grey;
  }
}

@layer components {
  .container {
    @apply mx-auto px-4 max-w-7xl;
  }

  .btn {
    @apply px-6 py-3 rounded-lg transition-all duration-300 inline-block;
  }

  .btn-primary {
    @apply bg-accent-red text-white hover:scale-105;
  }

  .btn-secondary {
    @apply bg-accent-yellow text-custom-grey hover:scale-105;
  }
}

.hero-gradient {
  background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0));
} 